@{
    var shapes = (IEnumerable<dynamic>)Model.ContentShapes;
}

<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture">
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
</head>
<body>

    @foreach (var shape in shapes)
    {
        <a id="content-item-top-@shape.ContentItem.Id"></a>
        @Display(shape);
    }

</body>
</html>
