@*<h1 id="branding"><a href="@Href("~/")">@WorkContext.CurrentSite.SiteName</a></h1>*@
@*<h1 id="branding" class="logo">&nbsp;</h1>*@
<center>
    <img id="imgBranding" class="logo" src="/pfr/Themes/PFRTheme/Content/images/logo.jpg" style="border-width:0px;">
</center>